body {
  margin: 0 auto;
  margin-top: 10%;
  background: rgb(144,172,131);
  background: radial-gradient(circle, rgba(144,172,131,1) 0%, rgba(83,119,66,1) 100%);
}
h1, h2 {
  text-align: center;
  font-family: 'Monsterrat', sans-serif;
  font-style: italic;
  color: white;
}
#game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
}
div {
  border: 5px solid rgb(88, 92, 86);
  background-color: rgb(111, 121, 106);
  transition: 1s;
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}
p {
    color: black;
}